{{> header}}
<h1>{{title}}</h1>

<div class="users">
    {{#users}}
        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{username}}</td>
                <td>{{name}}</td>
                <td>{{role.name}}</td>
            </tr>
            </tbody>
        </table>
    {{/users}}
</div>
{{> footer}}